.env
*.pyc
__pycache__/

# Ignore the local generated inference artifacts
protobuf_generated/inference/inference_pb2.py
protobuf_generated/inference/inference_pb2_grpc.py
protobuf_generated/inference/inference_pb2.pyi

#Ignore the virtual environment
inference_worker_venv/